<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmoGQx30Qn6COBEwKFSwitI1Uwrri73-8</string>
	<key>GCM_SENDER_ID</key>
	<string>679245141843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>okaydokey.simpleTodoWithLatestWidget</string>
	<key>PROJECT_ID</key>
	<string>sinple-todo-with-latest-widget</string>
	<key>STORAGE_BUCKET</key>
	<string>sinple-todo-with-latest-widget.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679245141843:ios:7504dd6d1e921cdbe5b3a6</string>
</dict>
</plist>